# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.pytest_cache/
venv/
.env

# Ansible
ansible/*.retry

# Kubernetes
kubeconfig
*.kubeconfig

# OS
.DS_Store
